<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>ParticularTeacher, Baby!!!!!</title>
</head>
<body 
	<div class="background">
	<nav class="barra">
		<ul>
			<audio class = "margAudio" src = "/music/camela.mp3" autoplay controls></audio>
			<li>INICIO</li>
			<li>PROFESORES</li>
			<li>NOSOTROS</li>
		</ul>
	</nav>
	<header>
			<h1 class="tittleCover">ParticularTeacher</h1>
			<h2 class="subtitlteCover">Primera página on-line que te permite buscar el profesor indicado para tu hijo</h2>
			<div class="minicontainer">
				<!--<p class='button1'> Profesor</p>-->
				<p><%= link_to("Profesor", new_teacher_teacher_path, :class => "button1") %>
	  		
				<p class='button2'>Padres/Hijos</p>
			</div>
	</header>
	</div>
		
</body>
</html>